
body {
  font-family:verdana,helvetica,arial,sans-serif;
  border:0px; margin:0px; padding:0px;
      
  background:url(
      data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIUlEQVQYV2N89urtfwYiACNIoZSYMCMhtaMK8YYQ0cEDAG5yJ8eLRhTfAAAAAElFTkSuQmCC
  ) repeat;
}
h1{
  color:rgba(78, 71, 71, 0.332);
  margin:0px 0px 2px 0px;
  font-size:150px;
  padding:2px 1px 5px 1px;
  text-align:center;    
}

.sudoku-board {
  display: flex;
  flex-direction: column; /* Display rows in a column */
  align-items: center;
}

.sudoku-row {
  display: flex;
}

.sudoku-container {
  display: flex;
  justify-content: space-evenly;
  align-items: self-start;
}

.additional-fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.additional-field {
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #41403e;
}

.timer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 100px;

}

.button-check {
  margin-top: 10px;
  padding: 8px;
  font-size: 16px;
}

.sudoku-cell {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border:  1px solid #ccc; /* Cell border */
}


/* CSS */
.button-check {
  margin-top: 10px;
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.button-check:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-check:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.selected {
  background-color:rgba(78, 71, 71, 0.332);
  color: black;
  border: 1px solid rgb(11, 11, 74); 
}

.icon {
  font-size: 30px;
  cursor: pointer;
  padding: 20px;
}

.action {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the gap between buttons and icons */
}

.levels{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 30px;
 
}

.controls{
  display: flex;
  flex-direction: column;
}

.check{
  display: flex;
  flex-direction: row;
  gap: 50px;
}

/* .editable{
  color: #41403e;
} */

.sudoku-cell.initial {
  background-color: #dddddd9d; /* Set your desired background color for initial cells */
}
.invalid {
  color: red !important;
}